.App {
  text-align: center;
}

/* Navigation styles */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav a {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

/* Blog card styles */

.blog-card {
  display: flex;
  flex-wrap: wrap; /* Wrap cards onto new line if they don't fit */
}

.blog-card > div {
  width: calc(33.33% - (2rem / 3)); /* Three cards per row with some margin */
  margin-right: calc(2rem / 3);
}

.blog-card > div:last-child {
   margin-right: unset; /* Remove right margin from last card in row */
}

.blog-card h1 {
   font-size: 1.5rem; /* Larger title font size */
   margin-bottom: .5rem; /* Add some spacing between title and author */
}

.blog-card h2 {
   font-size: .8rem; /* Smaller author font size */
   color: gray; /* Lighter author text color */
   margin-bottom: .5rem; /* Add some spacing between author and text */
}

.blog-card p {
   font-size: .9rem; /* Slightly smaller text font size */
}