.App {
  text-align: center;
}

.blog-card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.02);
  margin: 60px auto;
  max-width: 1000px;
  padding: 50px;
  text-align: left;
  transition: box-shadow 0.5s ease;
}

nav {
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.02);
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav > a {
  color: #000;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
  padding: 20px;
}

